GSE280984/GSM8608377_day1/matrix.mtx.gz
cache/
cache/home-behrouz-Projects-scRNA-Seq-Pipeline-GSE280984-GSM8608377_day1-matrix.h5ad
rm --cached /home/behrouz/Projects/scRNA-Seq-Pipeline/GSE280984/GSM8608377_day1-matrix.h5ad
